.footer{
    /* height: 10vh;
    width: 100%;
    align-items: center;
    border:none; */
    margin-top: 2%;
    min-height: 50px;
   max-height: 50px;
    background-color: rgb(96, 181, 230);
    /* position: static; */
}
.footer p{
    /* text-align: center; */
    text-align: center;
   padding-top: 15px;
   /* color: black; */
   color: white;
}